
body{
    background-image: url('images/blurrybackground1.jpeg');
    background-size:cover;
}

.content{
    background-color: rgba(37, 43, 43, 0.715);
    color:whitesmoke;
    text-align: center;
    list-style-position: inside;
    padding: 10px;
    margin:20px;
}

#link{
    background-color: aliceblue;
    padding: 2px;
}

.list{
    display: inline-block;
    text-align: left;
}

.wrapper{
    max-width: 500px;
    display: inline;
}



h1{
    font-size: 60px;
}


.return{
    float: right;
    background-color: darkslategray;
    font-weight: bold;
    color:orange;
}